{
  "openapi": "3.0.1",
  "info": {
    "title": "NPO Frontend API",
    "description": "Exposes the data of POMS (mediaobject, schedule information and subtitles), and the pages publisher (CMS content plus links to media)Provided examples are automatically generated and may not be accurate. You may find manually maintained examples of search forms on <a href='https://github.com/npo-poms/api/tree/master/examples'>github</a>",
    "contact": {
      "url": "https://wiki.vpro.nl/display/npoapi/",
      "email": "poms@vpro.nl"
    },
    "version": "7.3-SNAPSHOT"
  },
  "externalDocs": {
    "description": "NPO Frontend API WIKI",
    "url": "https://wiki.vpro.nl/display/npoapi/"
  },
  "servers": [
    {
      "url": "https://rs.poms.omroep.nl/",
      "description": "prod"
    },
    {
      "url": "https://rs-acc.poms.omroep.nl/",
      "description": "acc"
    },
    {
      "url": "https://rs-test.poms.omroep.nl/",
      "description": "test"
    }
  ],
  "tags": [
    {
      "name": "media",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.vpro.nl/display/npoapi/Media-+and+Schedule-API"
      }
    },
    {
      "name": "pages",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.vpro.nl/display/npoapi/Pages+API"
      }
    },
    {
      "name": "profiles",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.vpro.nl/display/npoapi/Profile+API"
      }
    },
    {
      "name": "subtitles",
      "description": "This returns the available subtitles\"  (tt888, webvtt and srt are supported).",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.vpro.nl/display/npoapi/Subtitles+API"
      }
    },
    {
      "name": "thesaurus",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.vpro.nl/display/npoapi/Thesaurus+API"
      }
    },
    {
      "name": "tvvod",
      "externalDocs": {
        "description": "wiki",
        "url": "https://wiki.publiekeomroep.nl/display/npoapi/TVVod-API"
      }
    }
  ],
  "paths": {
    "/media/changes": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Retrieve changes",
        "description": "Retrieve all media changes since a certain update sequence.\nBy submitting an optional profile argument only changes for this argument are emitted. For certain parameters this callcan take very long and/or return very much data. Be prepared to handle that gracefully.",
        "operationId": "changes",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Since which revision to stream. This parameter is ignored and set to 0 if at that point the profile did not exist. This parameter will be deprecated.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 17500000
          },
          {
            "name": "publishedSince",
            "in": "query",
            "description": "Since which published date to stream. This parameter is ignored if at that point the profile did not exist (unless you use checkProfile=false). ISO_8601 is recognized, and also millis since EPOCH. You might optionally also add ,&lt;mid&gt; which deals with the case that several changes happened at exactly (to millisecond precision) the same time.",
            "schema": {
              "type": "string"
            },
            "example": "2016-03-14T10:15:30.000Z,RBX_BNN_3498239"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "The maximum number of items returned. Usefull for human inspection with a browser. Look out with this value if the since parameter is before the profile existed, or consider checkProfile=false",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "checkProfile",
            "in": "query",
            "description": "If the definition for a profile changes, and you requests changes from before this change, this call may implicitly return more requests to make sure that you receive all changes that should be relevant for you. In many cases this may result in returning very many results in such caches. The idea is that this could be set tot false to skip checking for profile changes altogether, and just evaluate the currently defined profile. If you use a max argument, then it may be advisable to use 'false' for this attribute.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "deletes",
            "in": "query",
            "description": "Normally for every object not in the profile a deleted object is issued. This can be set to EXCLUDE to avoid that. You can also set it to ID_ONLY, to include the deletes but with only the id (which should suffice to issue a delete to the pages publisher)",
            "schema": {
              "type": "string",
              "default": "ID_ONLY",
              "enum": [
                "INCLUDE",
                "EXCLUDE",
                "ID_ONLY"
              ]
            }
          },
          {
            "name": "tail",
            "in": "query",
            "description": "The feed can be followed with a placeholder object ('the tail'), which purpose is to indicate how fow the\nchanges feed now is handled. Its values can be used in the next call. Default it only is returned if there\nwould otherwise be no results. Best is to use 'ALWAYS'.",
            "schema": {
              "type": "string",
              "default": "IF_EMPTY",
              "enum": [
                "ALWAYS",
                "IF_EMPTY",
                "NEVER"
              ]
            }
          },
          {
            "name": "reasonFilter",
            "in": "query",
            "description": "Skip a change if every reason matches this regular expression (re2 implementation).\nThis feature is experimental. You always have to specify this parameter if you want to <em>see</em> reasons.\nThe empty string in that respect is special, it will cause that reasons are returned (unless the since value\nis too far in the past), but no server side filtering will be done. Note that no reason filtering or returning\nwill be done if the since value is too far in the past.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/media": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Get all media",
        "description": "Get all media filtered on an optional profile",
        "operationId": "list",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Find media",
        "description": "Find media object by posting a search form. Results are filtered on an optional profile",
        "operationId": "find",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/{mid}/descendants": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "List descendants",
        "description": "List all descendants of a certain media group. That means all its members and all the members of those and so on",
        "operationId": "listDescendants",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "14Jeugd0845geb"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Filter descendants",
        "description": "Search in all descendants of a certain media group (note: filtering purges all duplicate elements)",
        "operationId": "findDescendants",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "14Jeugd0845geb"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/{mid}/episodes": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "List episodes",
        "description": "List the episodes of a media group",
        "operationId": "listEpisodes",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "14Jnl0700n1"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/programResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/programResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Filter eposides",
        "description": "Search in the episodes of the media group (note: filtering purges all duplicate elements)",
        "operationId": "findEpisodes",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "14Jnl0700n1"
            },
            "example": "14Jnl0700n1"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/programSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/programSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/{mid}/members": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Load members",
        "description": "Load all members of a certain media object. Often the media object would be a group.",
        "operationId": "listMembers",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "POMS_S_TVGELDERLAND_133433"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Filter members",
        "description": "Search in the members of a media object (note: filtering purges all duplicate elements)",
        "operationId": "findMembers",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "POMS_S_TVGELDERLAND_133433"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/{mid}/related": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "List related",
        "description": "List all media objects that are related to the document with supplied mid.",
        "operationId": "listRelated",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "partyId",
            "in": "query",
            "description": "topspin partyId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Filter related",
        "description": "Search in all media objects that are related to another one (note: filtering purges all duplicate elements)",
        "operationId": "findRelated",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AVRO_1656037"
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "partyId",
            "in": "query",
            "description": "topspin partyId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/iterate": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Iterate media object",
        "description": "This is like the list call. It does however support filtering by a form (though it is not actually a search). There is no bound on the value of 'max'. It can only give back JSON. The target of this call is to facilitate use cases in which you need to fetch very, very much (as e.g. the generation of a site map). Offset is supported, but using it large values will be inefficient. The idea is that you read the resulting json streamingly.",
        "operationId": "iterate",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Skip this many results first. This parameter may be dropped or limited to small values in future version",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/mediaForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/media/{mid}": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Load entity",
        "description": "Load media by its mid",
        "operationId": "load",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AVRO_1656037"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Limit the results only to this profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaObject"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MediaObject"
                }
              }
            }
          }
        }
      }
    },
    "/media/multiple": {
      "get": {
        "tags": [
          "media"
        ],
        "description": "Load several entities",
        "operationId": "loadMultiple",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated mids",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            },
            "example": {
              "value": "all"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Limit the results only to this profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multipleMediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/multipleMediaResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Load several entities",
        "operationId": "loadMultiple_1",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Limit the results only to this profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "list of ids",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/idList"
              },
              "example": [
                "AVRO_1656037",
                "NCRV_1413393"
              ]
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/idList"
              },
              "example": "<api:idList xmlns:api=\"urn:vpro:api:2013\" >\n    <api:id>AVRO_1656037</api:id>\n    <api:id>NCRV_1413393</api:id>\n</api:idList>"
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multipleMediaResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/multipleMediaResult"
                }
              }
            }
          }
        }
      }
    },
    "/media/redirects": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Show all available redirects",
        "description": "Load ",
        "operationId": "redirects",
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        }
      }
    },
    "/media/suggest": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Suggest a search text",
        "description": "Suggests a search text, filtered on an optional profile",
        "operationId": "suggest",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Adding a profile limits results to user queries that ran under this profile",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "maximum": 240,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suggestResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/suggestResult"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "get": {
        "tags": [
          "pages"
        ],
        "summary": "List all pages",
        "description": "Lists all pages filtered on an optional profile",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pageResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "pages"
        ],
        "summary": "Find pages",
        "description": "Find pages by posting a search form. Results are filtered on an optional profile",
        "operationId": "find_1",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pageSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/pages/related": {
      "get": {
        "tags": [
          "pages"
        ],
        "summary": "List related",
        "description": "List all pages that are similar to page with supplied url.",
        "operationId": "listRelated_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pageResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "pages"
        ],
        "summary": "Find related",
        "description": "Find all pages that are similar to page with supplied url results are filtered with an optional form and profile",
        "operationId": "findRelated_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pageSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/pages/iterate": {
      "post": {
        "tags": [
          "pages"
        ],
        "summary": "Find all",
        "operationId": "iterate_1",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/pagesForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "deprecated": true
      }
    },
    "/pages/multiple": {
      "get": {
        "tags": [
          "pages"
        ],
        "summary": "Load several pages",
        "description": "Loads several pages by their id. An id may be either an url or a crid",
        "operationId": "loadMultiple_2",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Certain (comma separated) urls to get. ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Limit the results only to this profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multiplePageResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/multiplePageResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "pages"
        ],
        "summary": "Load several pages by their id",
        "description": "Loads several pages by their id. An id may be either an url or a crid",
        "operationId": "loadMultiple_3",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Limit the results only to this profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Json array of urls to get",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "xml": {
                        "name": "id"
                      }
                    }
                  }
                },
                "xml": {
                  "name": "idList",
                  "namespace": "urn:vpro:api:2013"
                },
                "items": {
                  "type": "string",
                  "xml": {
                    "name": "id"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "xml": {
                        "name": "id"
                      }
                    }
                  }
                },
                "xml": {
                  "name": "idList",
                  "namespace": "urn:vpro:api:2013"
                },
                "items": {
                  "type": "string",
                  "xml": {
                    "name": "id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multiplePageResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/multiplePageResult"
                }
              }
            }
          }
        }
      }
    },
    "/pages/suggest": {
      "get": {
        "tags": [
          "pages"
        ],
        "summary": "Suggest a search text",
        "description": "Suggests a search text, filtered on an optional profile",
        "operationId": "suggest_1",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Adding a profile limits results to user queries that ran under this profile",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suggestResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/suggestResult"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/list": {
      "get": {
        "tags": [
          "profiles"
        ],
        "summary": "List profiles",
        "operationId": "list_2",
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ".*"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResult"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{name}": {
      "get": {
        "tags": [
          "profiles"
        ],
        "summary": "Load a profile",
        "description": "Retrieve a profile by its name and an optional point in time. Note: This call cannot return JSON, only XML. It therefore probably doesn't work in the swagger interface.",
        "operationId": "load_1",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Optional timestamp in millis from 1970",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/profile"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/profile"
                }
              }
            }
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "List scheduled media",
        "operationId": "list_3",
        "parameters": [
          {
            "name": "guideDay",
            "in": "query",
            "description": "Guide day in simple ISO8601 format, e.g. 2014-02-27",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in full ISO8601 format, e.g. 2014-02-27T07:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stop",
            "in": "query",
            "description": "Stop time in full ISO8601 format, e.g. 2014-02-28T22:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Find scheduled media",
        "operationId": "find_2",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/scheduleForm"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/scheduleForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/broadcaster/{broadcaster}": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "List scheduled media for a broadcaster",
        "operationId": "listBroadcaster",
        "parameters": [
          {
            "name": "broadcaster",
            "in": "path",
            "description": "Broadcaster, e.g. NTR",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guideDay",
            "in": "query",
            "description": "Guide day in simple ISO8601 format, e.g. 2014-02-27",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in full ISO8601 format, e.g. 2014-02-27T07:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stop",
            "in": "query",
            "description": "Stop time in full ISO8601 format, e.g. 2014-02-28T22:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/channel/{channel}": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "List scheduled media for a channel",
        "operationId": "listChannel",
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NED1"
          },
          {
            "name": "guideDay",
            "in": "query",
            "description": "Guide day in simple ISO8601 format, e.g. 2014-02-27",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in full ISO8601 format, e.g. 2014-02-27T07:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stop",
            "in": "query",
            "description": "Stop time in full ISO8601 format, e.g. 2014-02-28T22:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/ancestor/{ancestor}": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "List scheduled media for an ancestor",
        "operationId": "listForAncestor",
        "parameters": [
          {
            "name": "ancestor",
            "in": "path",
            "description": "Media ID to list descendants for, e.g. 044411213",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guideDay",
            "in": "query",
            "description": "Guide day in simple ISO8601 format, e.g. 2014-02-27",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in full ISO8601 format, e.g. 2014-02-27T07:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stop",
            "in": "query",
            "description": "Stop time in full ISO8601 format, e.g. 2014-02-28T22:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/net/{net}": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "List scheduled media for a net",
        "operationId": "listNet",
        "parameters": [
          {
            "name": "net",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZAPP"
          },
          {
            "name": "guideDay",
            "in": "query",
            "description": "Guide day in simple ISO8601 format, e.g. 2014-02-27",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in full ISO8601 format, e.g. 2014-02-27T07:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stop",
            "in": "query",
            "description": "Stop time in full ISO8601 format, e.g. 2014-02-28T22:06:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleResult"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/ancestor/{ancestor}/next": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Next item for an ancestor",
        "operationId": "nextForAncestor",
        "parameters": [
          {
            "name": "ancestor",
            "in": "path",
            "description": "Media ID to list descendants for, e.g. 044411213",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/broadcaster/{broadcaster}/next": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Next item for broadcaster",
        "operationId": "nextForBroadcaster",
        "parameters": [
          {
            "name": "broadcaster",
            "in": "path",
            "description": "Broadcaster, e.g. NTR",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/channel/{channel}/next": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Next item on channel",
        "operationId": "nextForChannel",
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NED1"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/net/{net}/next": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Next item on net",
        "operationId": "nextForNet",
        "parameters": [
          {
            "name": "net",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZAPP"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/ancestor/{ancestor}/now": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "description": "Current item for an ancestor",
        "operationId": "nowForAncestor",
        "parameters": [
          {
            "name": "ancestor",
            "in": "path",
            "description": "Media ID to list descendants for, e.g. 044411213",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/broadcaster/{broadcaster}/now": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Current item for broadcaster. I.e. the item that started most recently, and is still running.",
        "operationId": "nowForBroadcaster",
        "parameters": [
          {
            "name": "broadcaster",
            "in": "path",
            "description": "Broadcaster, e.g. NTR",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "mustberunning",
            "in": "query",
            "description": "if false then there may also be returned an event that was recently finished",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/channel/{channel}/now": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Current item on channel",
        "operationId": "nowForChannel",
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NED1"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "mustberunning",
            "in": "query",
            "description": "if false then there may also be returned an event that was recently finished",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/net/{net}/now": {
      "get": {
        "tags": [
          "schedule",
          "media"
        ],
        "summary": "Current item on net",
        "operationId": "nowForNet",
        "parameters": [
          {
            "name": "net",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZAPP"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Optimize media result for these returned properties",
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "mustberunning",
            "in": "query",
            "description": "if false then there may also be returned an event that was recently finished",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "now",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleItem"
                }
              }
            }
          }
        }
      }
    },
    "/subtitles/{mid}": {
      "get": {
        "tags": [
          "subtitles"
        ],
        "summary": "Get dutch captions",
        "description": "Use accept header or extension (e.g. .vvt) to select subtitles format",
        "operationId": "get",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "description": "The MID for the subtitles to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "text/vtt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/tt888": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/srt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              }
            }
          }
        }
      }
    },
    "/subtitles/{mid}/{language}": {
      "get": {
        "tags": [
          "subtitles"
        ],
        "summary": "Get subtitles (caption for dutch, translation for other locales)",
        "description": "Use accept header or extension (e.g. .vvt) to select subtitles format",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "description": "The MID for the subtitles to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "description": "The language for which to get the subtitles",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "text/vtt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/tt888": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/srt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              }
            }
          }
        }
      }
    },
    "/subtitles/{mid}/{language}/{type}": {
      "get": {
        "tags": [
          "subtitles"
        ],
        "summary": "Get subtitles",
        "description": "Use accept header or extension (e.g. .vvt) to select subtitles format",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "description": "The MID for the subtitles to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "description": "The language for which to get the subtitles",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/string"
            },
            "example": "nl_NL"
          },
          {
            "name": "type",
            "in": "path",
            "description": "TRANSLATION (default) or CAPTION",
            "required": true,
            "schema": {
              "type": "string",
              "default": "TRANSLATION",
              "enum": [
                "CAPTION",
                "TRANSLATION",
                "TRANSCRIPT"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "text/vtt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/tt888": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              },
              "text/srt": {
                "schema": {
                  "$ref": "#/components/schemas/subtitles"
                }
              }
            }
          }
        }
      }
    },
    "/subtitles": {
      "post": {
        "tags": [
          "subtitles"
        ],
        "description": "Search",
        "operationId": "search",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Search form",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/subtitlesForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subtitlesSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/subtitlesSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/thesaurus/concepts/status": {
      "get": {
        "tags": [
          "thesaurus"
        ],
        "summary": "Retrieve status",
        "description": "Retrieve current item status.",
        "operationId": "conceptStatus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GTAAConcept"
                }
              }
            }
          }
        }
      }
    },
    "/thesaurus/persons": {
      "get": {
        "tags": [
          "thesaurus"
        ],
        "summary": "Get all persons",
        "description": "Returns a list of all persons in the thesaurus or those matching an optional search term",
        "operationId": "findPersons",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResult"
                }
              }
            }
          }
        }
      }
    },
    "/thesaurus/concepts/updates": {
      "get": {
        "tags": [
          "thesaurus"
        ],
        "summary": "Retrieve changes",
        "description": "Retrieve all item changes since a certain update sequence.",
        "operationId": "listConceptUpdates",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "A date-time e.g. 2007-12-03T10:15:30",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "A date-time e.g. 2010-01-09T12:33:48",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/thesaurus/concepts": {
      "get": {
        "tags": [
          "thesaurus"
        ],
        "description": "Get all items filtered on axis",
        "operationId": "listConcepts",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemes",
            "in": "query",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "person",
                  "geographicname",
                  "topic",
                  "topicbandg",
                  "classification",
                  "maker",
                  "genre",
                  "name"
                ]
              }
            }
          },
          {
            "name": "not",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/thesaurusItems"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/thesaurusItems"
                }
              }
            }
          }
        }
      }
    },
    "/thesaurus/persons/updates": {
      "get": {
        "tags": [
          "thesaurus"
        ],
        "summary": "Retrieve changes",
        "description": "Retrieve all person changes since a certain update sequence.\n",
        "operationId": "listPersonUpdates",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "A date-time e.g. 2007-12-03T10:15:30",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "A date-time e.g. 2010-01-09T12:33:48",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/tvvod/{mid}": {
      "get": {
        "tags": [
          "tvvod"
        ],
        "summary": "Get (ceres) metadata for media object",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/mediaInformation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediaInformation"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AVAttributes": {
        "type": "object",
        "properties": {
          "bitrate": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "byteSize": {
            "minimum": 0,
            "type": "integer",
            "format": "int64"
          },
          "avFileFormat": {
            "type": "string",
            "enum": [
              "HASP",
              "H264",
              "MP4",
              "M4A",
              "M4V",
              "MP3",
              "WVC1",
              "WM",
              "WMP",
              "FLV",
              "3GPP",
              "RM",
              "RAM",
              "RA",
              "MPEG2",
              "HTML",
              "UNKNOWN"
            ]
          },
          "videoAttributes": {
            "$ref": "#/components/schemas/VideoAttributes"
          },
          "audioAttributes": {
            "$ref": "#/components/schemas/AudioAttributes"
          }
        }
      },
      "AudioAttributes": {
        "type": "object",
        "properties": {
          "numberOfChannels": {
            "type": "integer",
            "format": "int32"
          },
          "audioCoding": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "AuthorizedDuration": {
        "type": "object",
        "properties": {
          "authorized": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "AvailableSubtitles": {
        "type": "object",
        "properties": {
          "language": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "script": {
                "type": "string"
              },
              "variant": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "unicodeLocaleAttributes": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string",
                  "xml": {
                    "name": "scopeNote"
                  }
                }
              },
              "unicodeLocaleKeys": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string",
                  "xml": {
                    "name": "scopeNote"
                  }
                }
              },
              "displayLanguage": {
                "type": "string"
              },
              "displayScript": {
                "type": "string"
              },
              "displayCountry": {
                "type": "string"
              },
              "displayVariant": {
                "type": "string"
              },
              "extensionKeys": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "iso3Language": {
                "type": "string"
              },
              "iso3Country": {
                "type": "string"
              }
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "CAPTION",
              "TRANSLATION",
              "TRANSCRIPT"
            ]
          },
          "workflow": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "IGNORE",
              "REVOKED",
              "FOR_DELETION",
              "DELETED",
              "FOR_PUBLICATION",
              "FOR_REPUBLICATION",
              "PUBLISHED",
              "PUBLISH_ERROR"
            ]
          }
        }
      },
      "Broadcaster": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "value": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "Credits": {
        "required": [
          "role"
        ],
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "Regisseur",
              "Eindredactie",
              "Redacteur",
              "Presentator",
              "Interviewer",
              "Productie",
              "Research",
              "Gast",
              "Verslaggever",
              "Acteur",
              "Commentaar",
              "Componist",
              "Scenario",
              "Nieuwslezer",
              "Sidekick",
              "Onderwerp",
              "Deelnemer",
              "Assistent-regisseur",
              "Camerawerk",
              "Choreografie",
              "Ondertiteling",
              "Make-up",
              "Productie-management",
              "Staging",
              "Stunts",
              "Visual Effects",
              "Overig"
            ]
          },
[...]
